<details class="depliant">
    <summary><strong>{{ .Get "title" | default "See the concert program" }}</strong></summary>
    <p>1️⃣ First Part</p>
    <ul>
      <li>Erik Satie - Gnossienne</li>
      <li>Haendel - Passaglia</li>
      <li>Pachelbel - Canon</li>
      <li>Francisco Casarotti - The Emmerging Light</li>
      <li>Kirill Richter - In Memoriam</li>
      <li>Gibran Alcocer - Idea 10</li>
      <li>Max Richter - Departure</li>
      <li>Max Richter - Prelude 6</li>
      <li>Paul de Sénnéville - Mariage d’amour</li>
    </ul>

    <p>2️⃣ Second Part</p>
    <ul>
      <li>Ludovico Einaudi - Una Mattina (Intouchable)</li>
      <li>Yann Tiersen - Valse d’Amélie (Amélie Poulain)</li>
      <li>Yann Tiersen - Comptine d’un autre été (Amélie Poulain)</li>
      <li>John Willams - Reprise (Schindler’s List)</li>
      <li>Justin Hurwitz - Mia and Seb’s Theme (Lalaland)</li>
      <li>Hans Zimmer - Now you are free (Gladiator)</li>
      <li>Joe Hisaishi - Confession in the Moonlight (Castle in the Sky)</li>
      <li>Joe Hisaishi - Fantasia (Nausicaa)</li>
    </ul>

    <p>3️⃣ Finish</p>
    <ul>
      <li>Ramin Djawadi - Light of the Seven (Game of Thrones)</li>
      <li>Hans Zimmer - (Main Theme) Interstellar</li>
    </ul>
  </details>