<form class="black-70" action="https://formspree.io/f/xqabgyjr" method="POST">
  <div class="measure">
    <label for="name" class="f6 b db mb2">Nom</label>
    <input id="name" name="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text">
    
    <label for="email" class="f6 b db mb2">Email <span class="normal black-60">(Requis)</span></label>
    <input id="email" name="email" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" required>
    
    <label for="message" class="f6 b db mb2">Message</label>
    <textarea id="message" name="message" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2" aria-describedby="comment-desc"></textarea>
    
    <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Envoyer">
  </div>
</form>